MUSCRIPTOR_MODEL_PATH=${HOME}/multimedia/models/MuScriptor--muscriptor-large/model.safetensors
MUSCRIPTOR_SF2_PATH=${HOME}/multimedia/models/MuScriptor--assets/MuseScore_General.sf2
MUSCRIPTOR_SF3_PATH=${HOME}/multimedia/models/MuScriptor--assets/MuseScore_General.sf3
MUSCRIPTOR_FLUIDSYNTH=fluidsynth

PYTHON_VERSION=3.13.12
UV_TORCH_BACKEND=cu130
MUSCRIPTOR_DEVICE=cuda
MUSCRIPTOR_DTYPE=
MUSCRIPTOR_HOST=0.0.0.0
MUSCRIPTOR_PORT=8222

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
