VOCALRENDER_MODEL_DIR=../models/pymaster--VocalRender
VOCALRENDER_OUTPUT_DIR=outputs
VOCALRENDER_HOST=0.0.0.0
VOCALRENDER_PORT=8253
VOCALRENDER_DEVICE=auto
VOCALRENDER_AUTOLOAD=false
VOCALRENDER_DEFAULT_VARIANT=VocalRender-Pro
VOCALRENDER_MAX_UPLOAD_MB=128

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
