# The downloaded MuSViT foundation encoder. It creates representations; it is
# not itself an autoregressive notation decoder.
MUSVIT_MODEL_PATH=/home/alienl/multimedia/models/PRAIG--musvit

# Official full-page Sheet Music Transformer decoder used for image -> beKern.
SMT_MODEL_PATH=/home/alienl/multimedia/models/PRAIG--smt-fp-grandstaff
SMT_SOURCE_PATH=/home/alienl/multimedia/musvit/vendor/SMT
SMT_SOURCE_URL=https://github.com/antoniorv6/SMT.git
SMT_SOURCE_REF=master

PYTHON_VERSION=3.13.12
UV_TORCH_BACKEND=cu130
MUSVIT_DEVICE=cuda

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
WANDB_DISABLED=true
DO_NOT_TRACK=1
