SYMPHONY_MODEL_DIR=../models/SymphonyGen--SymphonyGen
SYMPHONY_OUTPUT_DIR=outputs
SYMPHONY_HOST=0.0.0.0
SYMPHONY_PORT=8252
SYMPHONY_MAX_UPLOAD_MB=32

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
