CW2_MODEL_PATH=${HOME}/multimedia/models/nyralabs--CrisperWhisper2.0_large

CW2_BACKEND=transformers
CW2_DEVICE=cuda
CW2_COMPUTE_TYPE=float16
CW2_DRAFT_MODEL=
CW2_CACHE_DIR=${HOME}/.cache/crisperwhisper

PYTHON_VERSION=3.12
UV_TORCH_BACKEND=cu130

CW2_HOST=0.0.0.0
CW2_PORT=8172
CW2_UI_PORT=8173
CW2_AUTOLOAD=1
CW2_MAX_UPLOAD_MB=1024
CW2_TLS_CERTFILE=
CW2_TLS_KEYFILE=

HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
TOKENIZERS_PARALLELISM=false
