ACESTEP_CHECKPOINTS_DIR=../models/Ace-Step--Ace-Step1.5
ACESTEP_HOST=0.0.0.0
ACESTEP_PORT=8250
ACESTEP_DEVICE=auto
ACESTEP_CONFIG_PATH=acestep-v15-turbo
ACESTEP_INIT_LM=true
ACESTEP_LM_MODEL=acestep-5Hz-lm-1.7B
ACESTEP_LM_BACKEND=pt
ACESTEP_OFFLOAD_TO_CPU=false
ACESTEP_OFFLOAD_DIT_TO_CPU=false

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
GRADIO_ANALYTICS_ENABLED=false
