llama-cpp-python>=0.3.16
fastapi>=0.116,<1
openvino-genai>=2026.1.0,<2027
openvino-tokenizers>=2026.1.0,<2027
transformers>=4.50.3
tokenizers>=0.21.0
sentencepiece
safetensors>=0.4.2
uvicorn[standard]>=0.35,<1
