MINIMAX_HOST=0.0.0.0
MINIMAX_PORT=8254
MINIMAX_ENGINE_HOST=127.0.0.1
MINIMAX_ENGINE_PORT=8264
MINIMAX_MODEL_DIR=../models/Comfy-Org--Minimax-Music-3
MINIMAX_OUTPUT_DIR=outputs
MINIMAX_ENGINE_START_TIMEOUT=120
MINIMAX_JOB_TIMEOUT=7200

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
