MINIMAX_HOST=0.0.0.0
MINIMAX_PORT=8254
MINIMAX_ENGINE_HOST=127.0.0.1
MINIMAX_ENGINE_PORT=8264
MINIMAX_GUIDE_ENGINE_PORT=8265
MINIMAX_MODEL_DIR=../models/Comfy-Org--Minimax-Music-3
MINIMAX_GUIDE_MODEL_ROOT=../models/qwen
MINIMAX_GUIDE_DEFAULT_MODEL=text-encoder-vl-nvfp4/qwen3_vl_4b_nvfp4_full.safetensors
MINIMAX_OUTPUT_DIR=outputs
MINIMAX_ENGINE_START_TIMEOUT=120
MINIMAX_JOB_TIMEOUT=7200

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
