STABLE_AUDIO_MODEL_DIR=../models/RoyalCities--Foundation-1
STABLE_AUDIO_T5_MODEL_PATH=../models/google-t5--t5-base
STABLE_AUDIO_HOST=0.0.0.0
STABLE_AUDIO_PORT=8251

HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HUB_DISABLE_TELEMETRY=1
DO_NOT_TRACK=1
TOKENIZERS_PARALLELISM=false
GRADIO_ANALYTICS_ENABLED=false
WANDB_DISABLED=true
