aeiou==0.0.20
alias-free-torch==0.0.6
basic-pitch>=0.4.0
descript-audio-codec<=1.0.0
einops<=0.7.0
einops-exts<=0.0.4
encodec<=0.1.1
gradio==3.50.2
hffs
huggingface-hub>=0.24.0
importlib-resources<=5.12.0
k-diffusion<=0.1.1
librosa<=0.10.0
local-attention<=1.8.6
matplotlib<=3.7.1
numpy<1.25
packaging>=23.0
pretty-midi<=0.2.10
PyWavelets<=1.4.1
safetensors>=0.4.0
scipy>=1.10.1,<1.11
sentencepiece<=0.1.99
soxr>=0.3.7
torchao>=0.13.0
tqdm>=4.66.0
transformers>=4.36.0,<4.47.0
v-diffusion-pytorch<=0.0.2
vector-quantize-pytorch<=1.9.14
x-transformers<1.27.0
